{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet"
href="{{ url_for('static', filename='') }}"/>
{% endblock %}
{% block main %}
<h1 id="titre"> {{title}} </h1>
<form role="form" enctype="multipart/form-data" method="POST"	action="{{ url_for('editer_album', num_album = num_album) }}">
	{{ form.hidden_tag() }}
	<div class={% if form.titre.errors %}"form-group has-error"{% else %}"form-group"{% endif %}>
	{{ form.titre.label }} {{ form.titre(size=50, class_="form-control") }}
	{{ form.genre.label }} {{ form.genre(size=50, class_="form-control") }}
	{{ form.dateSortie.label }} {{ form.dateSortie(size=50, class_="form-control") }}
	</div>
	<input class="btn btn-default" type="submit" value="Valider">
</form>
{% endblock %}
